# แบบฝึกหัด 3

---

In [1]:
import numpy as np
import pandas as pd
import statistics

###

3.1 บริษัทให้บริการด้าน IT ครบวงจรแห่งหนึ่งได้เก็บรวบรวมข้อมูลค่าซ่อมบำรุงอุปกรณ์คอมพิวเตอร์แม่ข่ายและจำนวนลูกค้าของบริษัทในปีที่ผ่านมาเป็นดังไฟล์ asm3_1_itcost.csv  
จงแสดงวิธีหาค่ามัธยฐานและฐานนิยมของค่าซ่อมบำรุงอุปกรณ์คอมพิวเตอร์แม่ข่าย

In [2]:
df_it = pd.read_csv('https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/asm3_1_itcost.csv')
df_it.head()

  maintenance_cost  num_customer
0           <=5000            33
1       5001-10000            41
2      10001-15000            20
3      15001-20000            17
4      20001-25000            10

In [3]:
df_it['num_customer_cumsum'] = df_it['num_customer'].cumsum()
df_it

  maintenance_cost  num_customer  num_customer_cumsum
0           <=5000            33                   33
1       5001-10000            41                   74
2      10001-15000            20                   94
3      15001-20000            17                  111
4      20001-25000            10                  121
5      25001-30000            16                  137
6          >=30001             5                  142

In [4]:
#หาMedian
Me_posi = df_it['num_customer'].sum() / 2
e = 1# ค่า median อยู่ใน index ที่ 1
Le = 5000.5
median = Le + (((Me_posi - df_it.num_customer_cumsum[e-1]) / df_it.num_customer[e]) * 5000)
print(median)

9634.646341463415

In [26]:
#หาMode
Mo_posi = 1 #ชั้นที่Modeอยูุ่
Le = 5000.5
d_eminus1 = np.abs(df_it.num_customer[Mo_posi] - df_it.num_customer[Mo_posi - 1])
d_eplus1 = np.abs(df_it.num_customer[Mo_posi] - df_it.num_customer[Mo_posi + 1])
mode = Le + (d_eminus1 / (d_eminus1 + d_eplus1)) * 5000
print(mode)

6379.810344827586

###

3.2 สุ่มตัวอย่างนักศึกษามาจำนวนหนึ่ง พบว่าคะแนนสอบวิชาสถิติ เป็นดังตาราง 'asm3_2_score.csv' จงหาค่า

**3.2.1 ค่าเฉลี่ย**

In [6]:
df_score = pd.read_csv('https://raw.githubusercontent.com/ThammakornS/ProgStat/main/dataset/asm3_2_score.csv')
df_score.head()

   score  num_student
0  11-15           15
1  16-20           14
2  21-25           20
3  26-30           18
4  31-35           16

In [7]:
sp_GG = df_score.score.str.split('-', expand=True).astype(int)
df_score['middle_value'] = (sp_GG[0] + sp_GG[1]) / 2
df_score['fx'] = df_score.num_student * df_score.middle_value 
mean = df_score['fx'].sum() / df_score['num_student'].sum()
print(mean)

25.85

**3.2.2 ค่ามัธยฐาน**

In [8]:
df_score['student_cumsum'] = df_score['num_student'].cumsum()
display(df_score)
Me_posi = df_score['num_student'].sum() / 2 #50
print(Me_posi)

   score  num_student  middle_value     fx  student_cumsum
0  11-15           15          13.0  195.0              15
1  16-20           14          18.0  252.0              29
2  21-25           20          23.0  460.0              49
3  26-30           18          28.0  504.0              67
4  31-35           16          33.0  528.0              83
5  36-40           17          38.0  646.0             100

50.0

In [27]:
e = 3 
Le = 25.5
median = Le + (((Me_posi - df_score.student_cumsum[e-1]) / df_score.num_student[e]) * 5)
print(median)

25.77777777777778

**3.2.3 ค่าฐานนิยม**

In [25]:
Mo_posi = 2
Le = 20.5
d_eminus1 = np.abs(df_score.num_student[Mo_posi] - df_score.num_student[Mo_posi - 1])
d_eplus1 = np.abs(df_score.num_student[Mo_posi] - df_score.num_student[Mo_posi + 1])
mode = Le + (d_eminus1 / (d_eminus1 + d_eplus1)) * 5
print(mode)

24.25

**3.2.4 Q<sub>1</sub> และ Q<sub>3</sub>**

In [11]:
q1 = (100 * 1) / 4 
print("อยู่ในตำแหน่งที่", q1) #row ที่ 1
Le = 15.5
e = 1
fe = 14
fb = 15
value_Q1 = Le + ((q1 - fb) / fe) * 5
print(f"Q1 = {value_Q1}")

อยู่ในตำแหน่งที่ 25.0
Q1 = 19.071428571428573

In [12]:
q3 = (100 * 3) / 4 
print("อยู่ในตำแหน่งที่", q3) #row ที่ 4
Le = 30.5
e = 4
fe = 16
fb = 67
value_Q3 = Le + ((q3 - fb) / fe) * 5
print(f"Q3 = {value_Q3}")

อยู่ในตำแหน่งที่ 75.0
Q3 = 33.0

**3.2.5 D<sub>7</sub>**

In [13]:
d7 = (100 * 7) / 10
print("อยู่ในตำแหน่งที่", d7)
Le = 30.5
e = 4
fe = 16
fb = 67
value_D7 = Le + ((d7 - fb) / fe) * 5
print(f"D7 = {value_D7}")

อยู่ในตำแหน่งที่ 70.0
D7 = 31.4375

**3.2.6 P<sub>75</sub>**

In [14]:
p75 = (100 * 75) / 100
print("อยู่ในตำแหน่งที่", p75) #row ที่ 4
Le = 30.5
e = 4
fe = 16
fb = 67
value_p75 = Le + ((p75 - fb) / fe) * 5
print(f"P75 = {value_p75}")

อยู่ในตำแหน่งที่ 75.0
P75 = 33.0

**3.2.7 พิสัย**

In [15]:
print(f"พิสัยมีค่าเท่ากับ {40.5 - 10.5}")

พิสัยมีค่าเท่ากับ 30.0

**3.2.8 ส่วนเบี่ยงเบนควอร์ไทล์**

In [16]:
q_d = (value_Q3 - value_Q1) / 2
print(q_d)

6.9642857142857135

**3.2.9 ส่วนเบี่ยงเบนมาตราฐานและความแปรปรวน**

In [17]:
sum_fx2 = sum((df_score.num_student * (df_score.middle_value)**2))
sd = np.sqrt((sum_fx2 - (100 * (mean ** 2))) / 99)
print(f"S = {sd}")

variance = sd ** 2
print(f"S^2 = {variance}")

S = 8.356180800805918
S^2 = 69.82575757575744

**3.2.10 สัมประสิทธิ์ของการแปรผัน**

In [18]:
c_v = sd * 100 / mean
print(f"C.V. = {c_v}")

C.V. = 32.32565106694746

###

3.3 บริษัทเกมแห่งหนึ่งได้ทำการทดสอบ game engine รุ่นใหม่ ในคอมพิวเตอร์ที่มีส่วนประกอบของฮารด์แวร์ต่างๆกัน (เช่น cpu, gpu, ram, ฯลฯ) จำนวน 30 เครื่อง และทำการวัดค่า frames per second (FPS) ได้ผลดังนี้  
60.0, 30.2, 33.4, 59.9, 40.1, 25.5, 17.4, 28.6, 45.5, 57.8,  
22.5, 50.2, 30.8, 43.1, 50.5, 35.5, 27.4, 29.2, 55.5, 10.2,   
32.2, 27.8, 33.8, 53.4, 25.5, 30.4, 36.1, 49.3, 18.6, 50.0   
จงคำนวณหาค่าเฉลี่ย, ส่วนเบี่ยงเบนมาตราฐาน, ฐานนิยม, Q<sub>1</sub>, D<sub>3</sub>, P<sub>45</sub> ของค่า FPS ที่ได้จากการทดสอบ

ค่าเฉลี่ย:

In [19]:
fps = [60.0, 30.2, 33.4, 59.9, 40.1, 25.5, 17.4, 28.6, 45.5, 57.8,
       22.5, 50.2, 30.8, 43.1, 50.5, 35.5, 27.4, 29.2, 55.5, 10.2,
       32.2, 27.8, 33.8, 53.4, 25.5, 30.4, 36.1, 49.3, 18.6, 50.0]

In [20]:
print(np.mean(fps))

37.01333333333333

ส่วนเบี่ยงเบนมาตราฐาน:

In [21]:
print(np.std(fps, ddof=1))

13.51187812906528

ฐานนิยม:

In [22]:
print(statistics.multimode(fps))

[25.5]

Q<sub>1</sub>, D<sub>3</sub> และ P<sub>45</sub>:

In [23]:
print(f"Q1 = {np.percentile(fps, 25, method='weibull')}")
print(f"Q3 = {np.percentile(fps, 75, method='weibull')}")
print(f"P45 = {np.percentile(fps, 45, method='weibull')}")

Q1 = 27.7
Q3 = 50.05
P45 = 32.13

###

3.4 หน่วยงานวิจัยแห่งหนึ่งได้รับมอบหมายจากทางรัฐบาลให้ทำการเปรียบเทียบระบบที่ใช้ในการผลิตพลังงานกระแสไฟฟ้าสำหรับนิคมอุตสาหกรรมแห่งหนึ่ง ระบบแรกมีกำลังการผลิตสูงสุด 10,000 เมกะวัตต์ โดยมีค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของกำลังการผลิตอยู่ที่ 9,000±320 เมกะวัตต์ ระบบที่สองมีกำลังการผลิตสูงสุด 15,000 เมกะวัตต์ โดยมีค่าเฉลี่ยและส่วนเบี่ยงเบนมาตราฐานของกำลังการผลิตอยู่ที่ 14,000±900 เมกะวัตต์ จากข้อมูลนี้ทางสถาบันวิจัยจะสามารถสรุปว่าระบบใดมีกำลังการผลิตที่เที่ยงตรงกว่า

In [24]:
sys1_cv = 320 * 100 / 9000
sys2_cv = 900 * 100 / 14000
print(f"C.V.ของระบบที่ 1 = {sys1_cv}")
print(f"C.V.ของระบบที่ 2 = {sys2_cv}")
print(f"ระบบที่ {1 if sys2_cv > sys1_cv else 2} เที่ยงตรงกว่า")

C.V.ของระบบที่ 1 = 3.5555555555555554
C.V.ของระบบที่ 2 = 6.428571428571429
ระบบที่ 1 เที่ยงตรงกว่า